<div>
    <form role="search" action="javascript:void(0);">
        <div class="form-group docx-searchForm">
            <input type="text" class="form-control docx-searchkey" placeholder="Search" name="key" autocomplete="off">
            <div class="docx-sug" style="display: none;">
                <ul class="docx-sugul">
                    <li><a href="#">1</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">1</a></li>
                </ul>
            </div>
        </div>

    </form>
    <ul class="nav menu metismenu docx-navs" id="docx-navs">
        <li class="nav nav-title docx-files docx-active">
            <a href="/readme">文档说明</a>
        </li>
        <li class="docx-dir"><a href="#" class="docx-dirsa">学术<span class="fa arrow"></span></a>
            <ul class="docx-submenu collapse">
                <li class="nav nav-title docx-files"><a href="adv_filter.md">高级筛选</a></li>
                <li class="nav nav-title docx-files"><a href="adv_filter_search.md">高级搜索</a></li>
                <li class="nav nav-title docx-files"><a href="advanced_filter_dict.md">高级筛选字典</a></li>
                <li class="nav nav-title docx-files"><a href="cite_collect_paperhelp.md">引用-收藏-文献互助</a></li>
                <li class="nav nav-title docx-files"><a href="url_join_rule.md">几种站内跳转的url拼接规则</a></li>
                <li class="nav nav-title docx-files"><a href="xueshu_schema.md">学术字段说明</a></li>
                <li class="nav nav-title docx-files"><a href="xueshu_url.md">学术特有url参数</a></li>
            </ul>
        </li>
        <li class="docx-dir"><a href="#">广告<span class="fa arrow"></span></a>
            <ul class="docx-submenu collapse">
                <li class="docx-dir"><a href="http://sfe.baidu.com/psdoc.md#" class="docx-dirsa">wise开发文档<span class="fa arrow"></span></a>
                    <ul class="docx-submenu collapse" aria-expanded="false">
                        <li class="nav nav-title docx-files"><a href="/maintemplate.md">主模板广告展现相关逻辑</a></li>
                        <li class="nav nav-title docx-files"><a href="/new-api.md">广告新接口pb扩展</a></li>
                        <li class="nav nav-title docx-files"><a href="/req-params.md">广告请求参数整理</a></li>
                        <li class="nav nav-title docx-files"><a href="/template-style.md">主模板对广告（可能的）样式影响</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="divider"></li>
        <li><a href="/support"> 支持 </a></li>
    </ul>
</div>
